#wrapper{
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) ;
    box-sizing: border-box;
    padding: 0 20px;
    border: 1px solid green;
}
